body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 16px;
}

main {
  max-width: 900px;
  margin: 30px auto;
}

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.row > div {
  -webkit-flex: 0 0 400px;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
}
.row > .info {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 20px;
}

.info {
  display: inline-block;
  padding: 5px;
  background: whitesmoke;
  border: 1px solid lightgray;
  border-radius: 4px;
  font-size: 0.8em;
  margin-bottom: 8px;
}

form label {
  display: block;
  line-height: 1.3em;
}
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="date"],
form input[type="url"],
form input[type="number"],
form input[type="password"],
form select,
form textarea {
  display: block;
  width: 100%;
}
form [field-validation] {
  margin: 0 0 5px;
}
form [field-validation] > .notification {
  display: block;
  font-size: 0.8em;
  line-height: 1.6em;
  color: red;
  font-style: italic;
}
form [field-validation].invalid label::after {
  content: attr(data-error-text);
  display: inline-block;
  color: red;
  margin-left: 4px;
  font-size: 0.7em;
  line-height: 1em;
}
