body
  font-family: Helvetica, Arial, sans-serif
  color: #333
  font-size: 16px

main
  max-width: 900px
  margin: 30px auto

.row
  display: flex
  flex-direction: row
  flex-wrap: wrap
  & > div
    flex: 0 0 400px
  & > .info
    flex: 1 1 auto
    margin-left: 20px

.info
  display: inline-block
  padding: 5px
  background: whitesmoke
  border: 1px solid lightgray
  border-radius: 4px
  font-size: 0.8em
  margin-bottom: 8px


form
  label
    display: block
    line-height: 1.3em

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  input[type="url"],
  input[type="number"],
  input[type="password"],
  select,
  textarea
    display: block
    width: 100%

  [field-validation]
    margin: 0 0 5px
    & > .notification
      display: block
      font-size: 0.8em
      line-height: 1.6em
      color: red
      font-style: italic
    &.invalid
      label::after
        content: attr(data-error-text)
        display: inline-block
        color: red
        margin-left: 4px
        font-size: 0.7em
        line-height: 1em
