<html>
<head>
  <title>Angular Field Validation</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="myApp">

  <main role="main" ng-controller="myController">
    <h1>Angular Field Validation</h1>

    <form name="myForm">
      <div class="row">
        <div field-validation>
          <label for="name">Name</label>
          <input id="name" autocomplete="off" name="name" type="text" ng-model="form.name" required />
        </div>
        <div class="info">A regular required input</div class="info">
      </div>
      <div class="row">
        <div field-validation append-notification-to="label" use-data-attribute="true">
          <label for="email">Email</label>
          <input id="email" autocomplete="off" name="email" type="email" ng-model="form.email" ng-required="emailRequired" />
        </div>
        <div class="info">Required email validation</div class="info">
      </div>
      <div class="row">
        <div field-validation>
          <label for="password">Password</label>
          <input id="password" name="password" type="password" ng-model="form.pass" required />
        </div>
        <div class="info">A regular required password input</div class="info">
      </div>
      <div class="row">
        <div field-validation error-texts="{min: 'You should 6 to ride..'}">
          <label for="age">Age</label>
          <input id="age" name="age" type="number" ng-model="form.age" min="6" />
        </div>
        <div class="info">A numeric input with min validation and custom error message</div class="info">
      </div>
      <div class="row">
        <div field-validation>
          <label for="comment">Comment</label>
          <textarea id="comment" name="comment" ng-model="form.comment" required ng-minlength="20" ng-maxlength="30" rows="5"></textarea>
        </div>
        <div class="info">textarea with minlength and maxlength</div class="info">
      </div>
      <div class="row">
        <div field-validation>
          <label>
            <input type="checkbox" name="likeBanana" ng-model="user.likeBanana" required>
            Like babana
          </label>
        </div>
        <div class="info">Required checkbox</div class="info">
      </div>
      <div class="row">
        <div field-validation>
          <label>Gender</label>
          <input type="radio" name="gender" ng-model="user.gender" value="male" required> Male
          <input type="radio" name="gender" ng-model="user.gender" value="female" required> Female
        </div>
      </div>
      <div class="row">
        <div field-validation>
          <label for="country">Country</label>
          <select id="country" name="country" required ng-model="user.country">
            <option></option>
            <option>USA</option>
            <option>Canada</option>
            <option>Other</option>
          </select>
        </div>
      </div>
      <div clss="row">
        <div>
          <input type="submit" value="Submit" ng-click="onSubmit()" ng-disabled="">
        </div>
      </div>
    </form>

  </main>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.24/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

  <script type="text/javascript" src="js/angular-field-validation.js"></script>
  <script type="text/javascript" src="js/application.js"></script>

</body>
</html>